# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
.build/

# User-specific
*.personal.xcconfig
